html,body{
  background-color: #222;
}
.app{
  width: 100%;
  height: 100%;
}


/*
  stage
*/

.stage{
  position: relative;
  width: 100%;
  height: 680px;
}

.image-sec{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
}
.controller-nav{
  position: absolute;
  left:0;
  bottom: 30px;
  width: 100%;
  text-align: center;
  z-index: 101;
}


